{:paths ["src"]
 :deps {org.clojure/clojure     {:mvn/version "1.12.0" }
        cnuernber/dtype-next    {:mvn/version "10.111"}
        net.java.dev.jna/jna    {:mvn/version "5.12.1"}
        org.clojure/data.json   {:mvn/version "1.0.0"}
        cheshire/cheshire {:mvn/version "5.13.0"}
        scicloj/clojisr {:mvn/version "1.0.0"}
        ;;Replace me with caffeine...
        com.google.guava/guava  {:mvn/version "31.1-jre"}}
 


 :aliases {:dev
           {:extra-deps {criterium/criterium {:mvn/version "0.4.5"}
                         ch.qos.logback/logback-classic {:mvn/version "1.1.3"}}}
           :fastcall
           {:jvm-opts ["-Dlibpython_clj.manual_gil=true"]}
           :jdk-17
           {:jvm-opts ["--add-modules" "jdk.incubator.foreign"
                       "--enable-native-access=ALL-UNNAMED"]}
           :jdk-19
           {:jvm-opts ["--enable-native-access=ALL-UNNAMED"]}
           :codox
           {:extra-deps {codox-theme-rdash/codox-theme-rdash {:mvn/version "0.1.2"}
                         nrepl/nrepl {:mvn/version "0.8.3"}
                         cider/cider-nrepl {:mvn/version "0.25.5"}
                         com.cnuernber/codox {:mvn/version "1.001"}}
            :exec-fn codox.main/-main
            :exec-args {:arg-paths [[:aliases :depstar :exec-args]]
                        :name "libpython-clj"
                        :description "Python bindings for Clojure"
                        :metadata {:doc/format :markdown}
                        :google-analytics "G-LN7PG6FJ2D"
                        :html {:transforms [[:head] [:append [:script {:async true
                                                                       :src "https://www.googletagmanager.com/gtag/js?id=G-LN7PG6FJ2D"}]]
                                            [:head] [:append [:script "window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LN7PG6FJ2D');"]]]}
                        :themes [:rdash]
                        :source-paths ["src"]
                        :output-path "docs"
                        :doc-paths ["topics"]
                        :source-uri "https://github.com/clj-python/libpython-clj/blob/master/{filepath}#L{line}"
                        :namespaces [libpython-clj2.python
                                     libpython-clj2.python.class
                                     libpython-clj2.codegen
                                     libpython-clj2.python.np-array
                                     libpython-clj2.require
                                     libpython-clj2.embedded
                                     libpython-clj2.java-api]}}
           :test
           {:extra-deps {com.cognitect/test-runner
                         {:git/url "https://github.com/cognitect-labs/test-runner"
                          :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}
                         ch.qos.logback/logback-classic {:mvn/version "1.1.3"}}
            :extra-paths ["test"]
            :main-opts ["-m" "cognitect.test-runner"]}
           :depstar
           {:replace-deps
            {com.github.seancorfield/depstar {:mvn/version "2.0.193"}}
            :ns-default hf.depstar
            :exec-fn hf.depstar/jar
            :exec-args {:group-id "clj-python"
                        :artifact-id "libpython-clj"
                        :version "2.025"
                        :sync-pom true
                        :aot true
                        :compile-ns [libpython-clj2.java-api]
                        :jar "target/libpython-clj.jar"}}
           :deploy
           {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
            :exec-fn deps-deploy.deps-deploy/deploy
            :exec-args {:installer :remote
                        :sign-releases? true
                        :artifact "target/libpython-clj.jar"}}
           :install
           {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
            :exec-fn deps-deploy.deps-deploy/deploy
            :exec-args {:installer :local
                        :artifact "target/libpython-clj.jar"}}

           }
           
 :python-version "3.13.7"
 :python-deps [
               "openai==1.58.1"
               ]
 
:renv-deps {:R
            {:Version "4.4.1",
             :Repositories [{:Name "CRAN", :URL "https://cloud.r-project.org"}]},
            :Packages
            {:tidyselect
             {:Package "tidyselect",
              :Version "1.2.1",
              :Source "Repository",
              :Repository "CRAN",
              :Requirements
              ["R" "cli" "glue" "lifecycle" "rlang" "vctrs" "withr"],
              :Hash "829f27b9c4919c16b593794a6344d6c0"},
             :withr
             {:Package "withr",
              :Version "3.0.1",
              :Source "Repository",
              :Repository "CRAN",
              :Requirements ["R" "grDevices" "graphics"],
              :Hash "07909200e8bbe90426fbfeb73e1e27aa"},
             :utf8
             {:Package "utf8",
              :Version "1.2.4",
              :Source "Repository",
              :Repository "CRAN",
              :Requirements ["R"],
              :Hash "62b65c52671e6665f803ff02954446e9"},
             :rlang
             {:Package "rlang",
              :Version "1.1.4",
              :Source "Repository",
              :Repository "CRAN",
              :Requirements ["R" "utils"],
              :Hash "3eec01f8b1dee337674b2e34ab1f9bc1"},
             :glue
             {:Package "glue",
              :Version "1.7.0",
              :Source "Repository",
              :Repository "CRAN",
              :Requirements ["R" "methods"],
              :Hash "e0b3a53876554bd45879e596cdb10a52"},
             :vctrs
             {:Package "vctrs",
              :Version "0.6.5",
              :Source "Repository",
              :Repository "CRAN",
              :Requirements ["R" "cli" "glue" "lifecycle" "rlang"],
              :Hash "c03fa420630029418f7e6da3667aac4a"},
             :tibble
             {:Package "tibble",
              :Version "3.2.1",
              :Source "Repository",
              :Repository "CRAN",
              :Requirements
              ["R"
               "fansi"
               "lifecycle"
               "magrittr"
               "methods"
               "pillar"
               "pkgconfig"
               "rlang"
               "utils"
               "vctrs"],
              :Hash "a84e2cc86d07289b3b6f5069df7a004c"},
             :magrittr
             {:Package "magrittr",
              :Version "2.0.3",
              :Source "Repository",
              :Repository "CRAN",
              :Requirements ["R"],
              :Hash "7ce2733a9826b3aeb1775d56fd305472"},
             :lifecycle
             {:Package "lifecycle",
              :Version "1.0.4",
              :Source "Repository",
              :Repository "CRAN",
              :Requirements ["R" "cli" "glue" "rlang"],
              :Hash "b8552d117e1b808b09a832f589b79035"},
             :dplyr
             {:Package "dplyr",
              :Version "1.1.4",
              :Source "Repository",
              :Repository "CRAN",
              :Requirements
              ["R"
               "R6"
               "cli"
               "generics"
               "glue"
               "lifecycle"
               "magrittr"
               "methods"
               "pillar"
               "rlang"
               "tibble"
               "tidyselect"
               "utils"
               "vctrs"],
              :Hash "fedd9d00c2944ff00a0e2696ccf048ec"},
             :pkgconfig
             {:Package "pkgconfig",
              :Version "2.0.3",
              :Source "Repository",
              :Repository "CRAN",
              :Requirements ["utils"],
              :Hash "01f28d4278f15c76cddbea05899c5d6f"},
             :fansi
             {:Package "fansi",
              :Version "1.0.6",
              :Source "Repository",
              :Repository "CRAN",
              :Requirements ["R" "grDevices" "utils"],
              :Hash "962174cf2aeb5b9eea581522286a911f"},
             :renv
             {:Package "renv",
              :Version "1.0.7",
              :Source "Repository",
              :Repository "CRAN",
              :Requirements ["utils"],
              :Hash "397b7b2a265bc5a7a06852524dabae20"},
             :pillar
             {:Package "pillar",
              :Version "1.9.0",
              :Source "Repository",
              :Repository "CRAN",
              :Requirements
              ["cli" "fansi" "glue" "lifecycle" "rlang" "utf8" "utils" "vctrs"],
              :Hash "15da5a8412f317beeee6175fbc76f4bb"},
             :generics
             {:Package "generics",
              :Version "0.1.3",
              :Source "Repository",
              :Repository "CRAN",
              :Requirements ["R" "methods"],
              :Hash "15e9634c0fcd294799e9b2e929ed1b86"},
             :cli
             {:Package "cli",
              :Version "3.6.3",
              :Source "Repository",
              :Repository "CRAN",
              :Requirements ["R" "utils"],
              :Hash "b21916dd77a27642b447374a5d30ecf3"},
             :R6
             {:Package "R6",
              :Version "2.5.1",
              :Source "Repository",
              :Repository "CRAN",
              :Requirements ["R"],
              :Hash "470851b6d5d0ac559e9d01bb352b4021"}
:Rserve
{:Package "Rserve",
 :Version "1.8-13",
 :Source "Repository",
 :Repository "CRAN",
 :Requirements ["R"],
 :Hash "589ebd25cffe93ab5ab61e66936d2678"}             
             }}
           
           
           
           
           }
