{
 :paths ["src" "java" "resources" "target"]

 :deps {
        org.clojure/clojure      {:mvn/version "1.10.1"}
        camel-snake-kebab        {:mvn/version "0.4.0"}
        techascent/tech.datatype {:mvn/version "4.74"}
        org.clojure/data.json    {:mvn/version "0.2.7"}
        seancorfield/clj-new     {:mvn/version "0.8.6"}
        }
 }
