{:paths ["src"]
 :deps {org.clojure/clojure  {:mvn/version "1.10.2" :scope "provided"}
        camel-snake-kebab/camel-snake-kebab    {:mvn/version "0.4.0"}
        cnuernber/dtype-next {:mvn/version "6.12"}
        net.java.dev.jna/jna {:mvn/version "5.7.0"}
        org.clojure/data.json  {:mvn/version "1.0.0"}}

 :aliases {:dev
           {:extra-deps {criterium/criterium {:mvn/version"0.4.5"}
                         ch.qos.logback/logback-classic {:mvn/version "1.1.3"}}}
           :codox
           {:extra-deps {codox-theme-rdash/codox-theme-rdash {:mvn/version "0.1.2"}
                         nrepl/nrepl {:mvn/version "0.8.3"}
                         cider/cider-nrepl {:mvn/version "0.25.5"}
                         codox/codox {:mvn/version "0.10.7"
                                      :exclusions [org.ow2.asm/asm-all]}}
            :ns-default tech.v3.libs.lein-codox
            :exec-fn tech.v3.libs.lein-codox/-main
            :exec-args {:arg-paths [[:aliases :depstar :exec-args]]
                        :description "Python bindings for Clojure"
                        :metadata {:doc/format :markdown}
                        :themes [:rdash]
                        :source-paths ["src"]
                        :output-path "docs"
                        :doc-paths ["topics"]
                        :source-uri "https://github.com/clj-python/libpython-clj/blob/master/{filepath}#L{line}"
                        :namespaces [libpython-clj2.python
                                     libpython-clj2.codegen
                                     libpython-clj2.python.np-array
                                     libpython-clj2.require
                                     libpython-clj2.embedded
                                     python.builtins
                                     python.numpy]}}
           :test
           {:extra-deps {com.cognitect/test-runner
                         {:git/url "https://github.com/cognitect-labs/test-runner"
                          :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}
                         ch.qos.logback/logback-classic {:mvn/version "1.1.3"}}
            :extra-paths ["test"]
            :main-opts ["-m" "cognitect.test-runner"]}
           :depstar
           {:replace-deps
            {com.github.seancorfield/depstar {:mvn/version "2.0.193"}}
            :ns-default hf.depstar
            :exec-fn hf.depstar/jar
            :exec-args {:group-id "clj-python"
                        :artifact-id "libpython-clj"
                        :version "2.00-beta-12"
                        :sync-pom true
                        :jar "target/libpython-clj.jar"}}
           :deploy
           {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
            :exec-fn deps-deploy.deps-deploy/deploy
            :exec-args {:installer :remote
                        :sign-releases? true
                        :artifact "target/libpython-clj.jar"}}}}
