name: test

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**/README.md'
      - '**/CHANGELOG.md'
  pull_request:

jobs:
  clj-kondo-hooks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Clojure
        uses: DeLaGuardo/setup-clojure@11.0
        with:
          cli: 1.11.1.1347

      - name: Install clj-kondo
        run: |
          curl -sLO https://raw.githubusercontent.com/clj-kondo/clj-kondo/master/script/install-clj-kondo
          chmod +x install-clj-kondo
          sudo ./install-clj-kondo

      - name: Test clj-kondo hooks
        run: clojure -M:clj-kondo-test

  unit-test:
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        jdk: [19, 21, 25]
        python-version: ["3.9", "3.11","3.12","3.13","3.14"]

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.jdk }}
          distribution: temurin

      - name: Install Clojure
        uses: DeLaGuardo/setup-clojure@11.0
        with:
          cli: 1.11.1.1347

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install numpy --no-cache-dir

      - name: Run tests (jdk<17)
        if: ${{ matrix.jdk < 17 }}
        run: |
          clojure -M:test
      - name: Run tests (jdk>=17)
        if: ${{ matrix.jdk >= 17 }}
        run: |
          clojure -M:jdk-${{matrix.jdk}}:test
